$color-blue-dark: #464855;
$color-blue-light: #808080;
$color-gray: #e5e5ed;
$color-gray-light: #f4f5fa;
$color-gray-lighter: #fbfcfe;
$color-orange: #fd4401;
$color-purple: #666fe8;
$color-purple-light: #8a90fe;
$color-white: #FFF;
$color-black: #000;

$body-color: $color-blue-dark;
$body-bg: $color-gray-light;

$link-color: $color-purple;