.app-posts {
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba($color-black, .1);
    @extend .p-y-4;
}
.app-post {
    display: flex;
    align-items: center;
    .app-post-voteblock {
        @extend .p-x-6;
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            background: none;
            border: none;
            line-height: 28px;
            color: $color-gray;
            padding: 0;
            width: 28px;
        }
        .app-post-votes {
            color: $color-blue-dark;
            font-weight: $font-weight-semibold;
        }
    }
    .app-post-cover {
        border-radius: 4px;
        height: 80px;
        width: 120px;
    }
    .app-post-content {
        display: flex;
        flex-direction: column;
        .app-post-title {
            font-weight: $font-weight-semibold;
            margin: 0;
        }
        .app-post-meta {
            font-size: 12px;
            font-family: $font-family-desc;
            color: #898EA2;
        }
    }
    + .app-post {
        @extend.m-t-4;
    }
}